body{background:#eee}
.ratings i{font-size: 16px;color: red}
.strike-text{color: red;text-decoration: line-through}
.product-image{width: 100%}
.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}
.spec-1{color: #938787;font-size: 15px}
h5{font-weight: 400}.para{font-size: 16px}

.ul {
    list-style-type: none;
    margin: 0;
    height: 35px;
    padding: 0;
    overflow: hidden;
}

.ul li{
    float: left;
}
.ul li b{
    display: block;
    color: black;
    text-align: center;
    padding-left: 0;
    margin-top: 8px;
    padding-right: 15px;
    text-decoration: none;
}

.ul li p{
    color: black;
    text-align: left;
    padding-left: 5px;
    margin-top: 8px;
    text-decoration: none;
}

.min-text{
    font-size: 13px;
    color: #1f2326;
    font-weight: normal;
}

.max-text{
    font-size: 15px;
    color: #1f2326;
    font-weight: normal;
}