{% extends 'backNavBar.html.twig' %}

{% block befor_body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 0">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav" style="margin-left: 100px;">
                    <i class="material-icons" >email</i>
                    <span style="margin-left: 16px;">needhelp@crowd.com</span>
                </ul>
                <ul class="navbar-nav" style="margin-left: 100px;">
                    <i class="material-icons">place</i>
                    <span style="margin-left: 16px;">66 Casablanca,Maarif</span>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}