{% extends 'backNavBar.html.twig' %}

{% block title %}Hello Admins!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row text-center mb-5 mt-5">
            <h2>List of admins accounts</h2>
        </div>
        <div>
            <div>
                <a href="#" class="btn btn-secondary mb-3 mt-3">Create New</a>
            </div>
        </div>
        <div class="row">
            <table class="table table-secondary">
                <thead>
                <tr>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr class="table-light">
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.email }}</td>
                            <td>*********</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
